* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#page-logo a {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 50px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0px 50px 0px 0px;
  padding: 0;
}

header li {
  margin-left: 30px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

header a:hover {
  opacity: 70%;
}

h1 {
  color: #0c2169;
}

p {
  color: #0c2169;
}
